@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap|300');

* {
    /*margin: 0;
    padding: 0;
    border: 0;*/
}


body {
    font-family: 'Peddana', serif;
    color: #777777;
}
h2{
    font-family: oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
}
#logo{
    float: left;
    font-size: 280%;
}